<div class="row">
  <div class="col s12">
    <p id="notice"><%= notice %></p>

    <div class="row">
      <h1 class="col s12 m6">Pictures</h1>
      <%= link_to(new_picture_path,
                  class: 'btn-floating btn-large waves-effect waves-light red right index-add') do %>
          <i class="material-icons">add</i>
          <!--<a class="waves-effect waves-light btn" href="#add-modal">Modal-->
          <!--<i class="large material-icons">mode_edit</i>-->
          <!--</a>-->
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <% @pictures.each do |picture| %>

      <div class="col s6 m4">
        <div class="card">
          <div class="card-image">
            <%= image_tag picture.image.url %>
            <span class="card-title"><%= picture.name %></span>
          </div>
          <div class="card-content">
            <p><%= picture.category.name %></p>
          </div>
          <div class="card-action">
            <%= link_to 'View', picture %>
            <%= link_to 'Edit', edit_picture_path(picture) %>
            <%= link_to 'Delete', picture, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script>
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

