<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @picture.tag %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@picture.image.url, :class => "thumb") %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
